<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
<h2 id="ipLocation"></h2>
<h2 id="location"></h2>
<script>
    navigator.geolocation.getCurrentPosition((postion) => {
        let latitude = postion.coords.latitude;
        let longitude = postion.coords.longitude;
        let requestUrl = '/api/getLocation?location=' + latitude + ',' + longitude
        fetch(requestUrl).then(function (response) {
            return response.text()
        }).then(function (body) {
            let parseBody = JSON.parse(body);
            console.log(parseBody.result.address);
            document.getElementById('location').innerText = '根据gps定位：'+parseBody.result.address;
        })

        let requestUrl2 = '/api/ipLocation'
        fetch(requestUrl2).then(function (response) {
            return response.text()
        }).then(function (body) {
            let parseBody = JSON.parse(body);
            console.log(parseBody.result);
            let adInfo = parseBody.result.ad_info;
            document.getElementById('ipLocation').innerText = '根据ip定位：'+adInfo.nation+adInfo.province;
        })
    });
</script>
</body>
</html>
