<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>太上老君，急急如令令</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <script src="https://cdn.bootcss.com/fetch/2.0.3/fetch.min.js"></script>
    <script type="text/javascript" src="http://cdn.webfont.youziku.com/wwwroot/js/wf/youziku.api.min.js"></script>
    <script type="text/javascript">
        $youziku.load("body", "5650f4a290c74021af949847f2e448eb", "CACED0BB5C825843");
        /*$youziku.load("#id1,.class1,h1", "5650f4a290c74021af949847f2e448eb", "JetLinkMediumOldStamp");*/
        /*．．．*/
        $youziku.draw();
    </script>
    <style>
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0;padding: 0; }
        html,body{
            height: 100%;
            width: 100%;
        }
        body{
            /*background-image: url(bg.jpg);*/
        }
        .container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .ipName1{
            color: #000;
            font-size: 3rem;
        }
        .ipNumber{
            margin:30px 0 0 20px;
            color: #000;
            font-size: 2.5rem;
            align-self: flex-start;
        }
        .ipName2,.ipName3{
            color: #000;
            font-size: 2.5rem;
        }
        .ipBtmImage{
            width: 100px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="ipNumber"></div>
    <div class="ipName1"></div>
    <div class="ipName2"></div>
    <div class="ipName3"></div>
    <img src="/j.jpg"  alt="见签如命" class="ipBtmImage"/>
</div>
<script>
    window.onload=function(){
        fetch('/data.json').then(function (response) {
            return response.json()
        }).then(function (body) {
            let len = body.length;
            let index = Math.floor(Math.random()*len);
            document.querySelector('.ipNumber').innerText = body[index].number;
            document.querySelector('.ipName1').innerText = body[index].name1;
            document.querySelector('.ipName2').innerText = body[index].name2;
            document.querySelector('.ipName3').innerText = body[index].name3;
        })
    }
</script>
</body>
</html>